project:
  type: book
  output-dir: docs

book:
  title: "Matematikk R1"
  author: "Anders Norhagen Wik"
  date: "20.11.2026"
  chapters:
    - index.qmd
    - intro.qmd
    - Kapittel 1
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme: cosmo
  pdf:
    documentclass: scrreprt



